
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google-fonts */

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* same-styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
    
}
section{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}

/* font-styles */
/* dark-01 */
.primary-font{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}
/* dark-02 */
.secoundary-font{
    color: #424242;
    font-size: 1rem;
}
/* dark-03 */
.third-class-font{
    color: #727272;
}

/* primary-button */
.prymary-btn{
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffff;
    border: none;
    height: 64px;
    width: 180px;
    cursor: pointer;
}

/* nav-styles */
nav{
    justify-content: space-between;
    align-items: center;
     max-width: 1440px;
    margin: 0 auto;
    padding-top: 2rem;
}
.navigation li{
list-style: none;
margin-right: 2rem;
}
.navigation a{
    text-decoration: none;
}


/* banner-style */
.banner-title{
    text-align: center;
    padding-bottom: 3rem;
}
.banner-title h1{
 padding-bottom: 1rem;
}
.banner-title p{
  padding-bottom: 1rem;  

}
#banner-img{
    max-width: 100%;
    padding-bottom: 2.8rem;
}

/* team-section */
.teams{
    justify-content: center;
    align-items: center;
    padding-top:3rem ;
    
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 2rem;
    border-radius: 8px;
   
}
.team-title{
   flex-direction: column; 
  gap: 1rem;  
}


/* features-section */


.feature-text{
    max-width: 586px;
    padding-bottom: 30px;
}
.feature-img img{
    max-width: 100%;
    max-height: 100%;
}
.feature-text h1{
    border-left:5px solid #FF900E;
    padding-left: 8px;
    margin-bottom: 30px;
}
.feature-text h3{
    margin-bottom: 30px;
}
.feature-text p{
    margin-bottom: 30px;
}
.features-parent{
align-items: center;
max-width: 1440px;
margin: 0 auto;
justify-content: center;
gap: 150px;
  padding-top:3rem ;
  
}
.card{
border-radius: 8px;
box-shadow: 0px 1px 2px 4px #fbf9f9;
padding: 20px;
margin: 5px;

}
#year{
    font-size:2.8rem;
    font-weight: 700;
    
}
#experience{
    font-size:1rem;
    font-weight: 500;
}

.features-parent button{
    height: 100px;
    width: 200px;
    text-align: center;
    margin-top: -100px;
    margin-left: -100px;
    padding: 15px 15px;
}

/* some-facts-section */

.facts-title{
    max-width: 545px;
    padding-bottom: 50px;
    padding-left: 25px;
}
.facts-card-parent{
display:grid;
grid-template-columns: repeat(4,1fr);
justify-items: center;
align-items: center;
}
.facts-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px;
    justify-items: center;
    text-align: center;
    height: 241px;
    width: 241px;
}

/* sponsor-sector */
.sponsor-discription{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sponsor-discription h1{
      margin-bottom: 20px;
}

.sponsor-discription p{
    margin-bottom: 20px;
}

.sponsor-card-parent{
    justify-content: space-between;
    cursor: pointer;
}

/* footer-start-here */
.footer-parent{
    display: flex;
    height: 100px;
    width: 1440px;
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* small-device */
@media screen and (min-width: 330px) and (max-width: 576px) {
    
    .display-flex{
        flex-direction: column;
    }
 
   .team-title,
   .features-parent,
   .facts-card-parent,
    .team-img
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
      text-align: center;
    }
    .facts-card-parent{
        gap:20px;
    }
    .facts-title{
        text-align: center;
    }
    .feature-img,
    .feature-text,h1,h3,p
    
    {
        margin: 0;
        padding: 0;
    }
    
    .features-parent button{
     margin: 0 auto;
    
    }

    .sponsor-card-parent{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 10px;
       
    }

    .footer-parent{
        max-width:80%;
    }
}

/* medium-device */
@media screen and (min-width: 577px) and (max-width:768px){
 
    .display-flex{
    display: flex;
    }
  header{
  margin: 0 ;
  width: 1000px;
  }
nav h2{
    margin: 0 2%;
}
   .teams{
    flex-direction:column;
    margin-left: 18%;
    max-width: 90%;
   
   }
    .team-title,
    .team-img
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0;
        max-width: 100%;
    }
    .feature-text{
        margin: 0 auto;
        padding: 0;
        max-width: 80%;
        text-align: center;
        padding-bottom: 20px;
    }


    .features-parent{
        flex-direction: column;
        margin-left: 20%;
        width: 1000px;
       margin: 0 auto;
    }

    .card{
        margin-bottom: 20px;
    }
  
    .feature-img{
        margin-left: 16%;
    }

      .features-parent button{
      margin: 0 auto;

    
    }

     .team-title{
        padding-top: 3rem;
     }
      .sponsor-card-parent{
        flex-direction: row;
        margin: 0 auto;
       
    }
  
    .some-facts{
        width: 1000px;
        margin: 0 auto;
    }
     .facts-title{
        text-align:center;
        margin: 0 auto;
    }

  .sponsor{
        width: 1000px;
        margin: 0 auto;
    }
      .footer-parent{
        width: 800px;
        margin: 20px auto;
        margin-left: 15%;
    }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width:992px){
        .display-flex{
    display: flex;
    }
  header{
  margin: 0 ;
  width: 1000px;
  }
nav h2{
    margin: 0 2%;
}
   .teams{
    flex-direction:column;
    margin-left: 15%;
    max-width: 90%;
   
   }
    .team-title,
    .team-img
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0;
        max-width: 100%;
    }
    .feature-text{
        margin: 0 auto;
        padding: 0;
        max-width: 80%;
        text-align: center;
        padding-bottom: 20px;
    }


    .features-parent{
        flex-direction: column;
        margin-left: 20%;
        width: 1000px;
       margin: 0 auto;
    }

    .card{
        margin-bottom: 20px;
    }
  
    .feature-img{
        margin-left: 16%;
    }

      .features-parent button{
      margin: 0 auto;

    
    }

     .team-title{
        padding-top: 3rem;
     }
      .sponsor-card-parent{
        flex-direction: row;
        margin: 0 auto;
       
    }
  
    .some-facts{
        width: 1000px;
        margin: 0 auto;
    }
     .facts-title{
        text-align:center;
        margin: 0 auto;
    }

  .sponsor{
        width: 1000px;
        margin: 0 auto;
    }
      .footer-parent{
        width: 800px;
        margin: 20px auto;
        margin-left: 15%;
    }
}



/* laptop & desktop */
@media screen and (min-width: 993px) and (max-width:1000px){
        .display-flex{
    display: flex;
    }
  header{
  margin: 0 ;
  width: 1000px;
  }
nav h2{
    margin: 0 2%;
}
   .teams{
    flex-direction:column;
  margin:0 auto;
    max-width: 100%;
   
   }
    .team-title,
    .team-img
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0;
        max-width: 100%;
    }
    .feature-text{
        margin: 0 auto;
        padding: 0;
        max-width: 90%;
        text-align: center;
        padding-bottom: 20px;
    }


    .features-parent{
        flex-direction: column;
        margin-left: 20%;
        width: 1000px;
       margin: 0 auto;
    }

    .card{
        margin-bottom: 20px;
    }
  
    .feature-img{
        margin-left: 16%;
    }

      .features-parent button{
      margin: 0 auto;

    
    }

     .team-title{
        padding-top: 3rem;
     }
      .sponsor-card-parent{
        flex-direction: row;
        margin: 0 auto;
       
    }
  
    .some-facts{
        width: 1000px;
        margin: 0 auto;
    }
     .facts-title{
        text-align:center;
        margin: 0 auto;
    }

  .sponsor{
        width: 1000px;
        margin: 0 auto;
    }
      .footer-parent{
        width: 800px;
        margin: 20px auto;
        margin-left: 15%;
    }
}
/* laptop & desktop */
@media screen and (min-width: 1001px){
        .display-flex{
    display: flex;
    }
    header{
       width: 1495px;
        margin: 0 auto;
    }
    main{
         width: 1495px;
        margin: 0 auto;
    }
}
